.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table.ui.celled.padded.table {
  padding-top: 20px;
  margin:auto;
  width:max-content;  
  padding: 25px;
  text-align: center;
  background-color:rgba(226, 236, 248, 0.945);
  border: rgb(5, 5, 5) solid 1px;
  /* display: inline-grid; */
  box-shadow: 3px 4px #0c0c0b
}

table.table.headers {
  font-size: larger;
  color: crimson;
}
div.ui.comments {
  margin: auto;
}

div.comment.form {
  width: 50%;
  margin: auto;
}

.ui.icon.input {
  margin: auto;
  width: 400px;
  padding-bottom: 20px;
}